.HorizontalBanner-section {
  width: 100%;
  background-color: var(--white-color);
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.HorizontalBanner-scroll-sticky-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
}

.HorizontalBanner-scroll-sticky-content {
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
  padding: 100px 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 100px;
}

.HorizontalBanner-scroll-sticky-content-right-outer {
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.HorizontalBanner-scroll-sticky-content-right {
  width: 80%;
  max-width: 750px;
  min-height: 320px;
  display: flex;
  background: radial-gradient(circle at center, white 30%, transparent 80%);

  pointer-events: none;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 20px;
  gap: 0px;
}

.HorizontalBanner-scroll-sticky-content-right-top {
  flex: 1;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HorizontalBanner-scroll-sticky-content-right-top img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.HorizontalBanner-scroll-sticky-content-right-bottom {
  flex: 1.5;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.HorizontalBanner-scroll-sticky-content-right-bottom .sub-head-text {
  font-size: 32px;
  margin: 0;
}

.HorizontalBanner-scroll-sticky-content-right-bottom .sub-para-text {
  margin: 0;
}

@media (max-width: 768px) {
  .HorizontalBanner-scroll-sticky-content-right {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
  }
}

.careers-zigzag-svg {
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%;
  height: 500px;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
  overflow: visible;
}

.careers-start-circle-container {
  position: absolute;
  top: 53%;
  /* 167/2000 = 8.35% of the total scrollable width */
  left: 8.35%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.careers-start-circle-svg {
  width: 20px;
  height: 20px;
  display: block;
}

.careers-zigzag-line {
  stroke: #000;
}

#careers-line-mask path {
  fill: none;
  stroke: white;
  stroke-width: 1.5;
}

@media (max-width: 1024px) {
  .careers-zigzag-svg {
    display: none;
  }
}
