/* OurImpact.css */

.OurImpact {
  width: 100%;
  padding: 100px 60px 40px 60px;
  background-color: var(--white-color);
}
.impact-head-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.impact-title {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 300;
}

.impact-subtext {
  max-width: 600px;
  font-size: 18px;
  color: #555;
  font-weight: 300;
}

.impact-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.impact-card {
  border-radius: 20px;
  padding: 60px 30px 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease;
  /* box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1); */
}

.card-orange {
  background: linear-gradient(
    180deg,
    #ffeae2 0%,
    #fff5f2 45%,
    #ffc4b3 80%,
    #ff8d69 100%
  );
}

.card-green {
  background: linear-gradient(
    180deg,
    #f0ffdb 0%,
    #f8fff0 45%,
    #d4ff99 80%,
    #afff4d 100%
  );
}

.card-blue {
  background: linear-gradient(
    180deg,
    #e3f7ff 0%,
    #f0faff 45%,
    #99e4ff 80%,
    #4ad8ff 100%
  );
}

.card-purple {
  background: linear-gradient(
    180deg,
    #f0e6ff 0%,
    #f8f4ff 45%,
    #c9a8ff 80%,
    #ae7cff 100%
  );
}

/* Card Content Styling */
.card-label {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: auto;
  color: var(--black-color);
}

.card-number {
  font-weight: 300;
  margin-bottom: 20px;
}

.impact-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.card-desc {
  color: var(--black-color) !important;
}

/* Responsive */
@media (max-width: 1200px) {
  .impact-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .OurImpact {
    padding: 60px 20px;
  }
  .impact-title {
    font-size: 48px;
  }
  .impact-cards-container {
    grid-template-columns: 1fr;
  }
  .impact-card {
    height: 350px;
  }
}
