.cta-section {
  padding: 100px 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.cta-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.cta-content {
  text-align: center;
}

@media (max-width: 768px) {
  .cta-section {
    padding: 60px 20px;
  }
}
