/* src/css/HomeComponents/BlogSection.css */

.blog-section {
  padding: 100px 0;
  background-color: var(--white-color);
  overflow: hidden;
  position: relative;
}

.blogs-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.blogs-header-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.blogs-header-button {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

@media (max-width: 768px) {
  .blogs-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px !important;
    gap: 30px;
  }

  .blogs-header-content,
  .blogs-header-button {
    width: 100%;
    align-items: flex-start;
  }
}

.blog-title {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 15px;
  color: #111;
}

.blog-desc {
  font-size: 1.1rem;
  color: #555;
  max-width: 600px;
  line-height: 1.6;
}

.blog-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 0 60px;
  /* max-width: 1300px; */
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .blog-grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
  }
}

@media (max-width: 640px) {
  .blog-grid-container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

/* Common Text Styles */



@media (max-width: 768px) {
  .blog-section {
    padding: 60px 0;
  }

  .blog-head-container {
    padding-left: 20px;
  }

  .blog-title {
    font-size: 2.2rem;
  }
}