.reveal-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black-color);
  color: var(--white-color);
  padding: 150px 0;
}

.intro-reveal h1 {
  font-family: "TASAOrbiter", sans-serif;
  font-size: 1rem;
  font-weight: 300 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white-color);
}

.reveal-container .line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.reveal-container .line span {
  letter-spacing: 2px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  transition: none !important;
}

.img-span {
  height: 110px;
  width: 0px;
  /* background-color: #1a1a1a; */
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  will-change: width;
  transition: none !important; /* Overriding global index.css span transition */
}

.img-span img {
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
  will-change: transform;
  transform: translateZ(0); /* Force 3D */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .reveal-container .line span {
    font-size: 5rem;
  }
  .img-span {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .reveal-container .line span {
    font-size: 3rem;
    letter-spacing: -2px;
  }
  .img-span {
    height: 50px;
  }
  .reveal-container .line {
    gap: 10px;
  }
}
