.home-banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 150vh;
  background-image: url("../../assets/images/Home-images//banner-images/home-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden !important;
  position: relative;
}

.home-banner-top {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  padding: 100px 60px;
  gap: 20px;
  overflow: hidden !important;
}

.home-banner-video-container {
  position: absolute;
  top: 200px;
  right: 260px;
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 200;
  transition: none !important;
  overflow: hidden;
  will-change: top, right, width, height, border-radius;
}
.home-absolute-text {
  position: absolute;
  top: 230px;
  right: 80px;
  width: 10%;
  /* line-height: 1.4em; */
  font-size: 12px !important;
}
.banner-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.home-banner-video-container .para-text-white {
  font-size: 12px;
  white-space: nowrap;
  flex-wrap: nowrap;
}
.background-overlay-banner {
  background-color: white;
  height: 200vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}

@media (max-width: 768px) {
  .home-banner-top {
    padding: 60px 20px;
  }
}
